POSTGRESQL_DB_PORT=5432
POSTGRESQL_DB_USER=gophkeeper
POSTGRESQL_DB_PASSWORD=gophkeeper
POSTGRESQL_DB_NAME=gophkeeper
DATABASE_DSN=postgres://gophkeeper:gophkeeper@localhost:5432/gophkeeper?sslmode=disable
TEST_DATABASE_DSN=postgres://gophkeeper:gophkeeper@localhost:5432/gophkeeper?sslmode=disable
JWT_SECRET=change-me-at-least-32-bytes-long!
